{{> /layout/header }}

<title>Lecturepedia - 경력에 따른 난이도로 강의를 찾아보세요!</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Lecturepedia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{#sessionedUser}}
        <li style="color: white; padding-top: 0.5em;padding-right: 2em;">
          <span id="userName">{{userName}}</span>님 환영합니다.
        </li>
        {{/sessionedUser}}
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        {{^sessionedUser}}
        <li class="nav-item"><a class="nav-link" href="/user/signup">Signup</a></li>
        {{/sessionedUser}}
        {{#sessionedUser}}
        <li class="nav-item"><a class="nav-link" href="/user/{{id}}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {{/sessionedUser}}
      </ul>
    </div>
  </div>
</nav>
