{{> /layout/navigation }}

<div class="container" style="margin-top: 5%; margin-bottom: 5%; width: 80%">
  <div id="updateForm" style="padding-left: 10%; padding-right: 10%; padding-bottom: 10%;">
    {{#lecture}}
    <input id="lectureId" value="{{id}}" hidden>
    <table class="table table-hover">
      <h2>강의</h2>
      <tr>
        <th style="width: 20%">강의명</th>
        <td>{{title}}</td>
      </tr>
      <tr>
        <th>강의자</th>
        <td>{{creator}}</td>
      </tr>
      <tr>
        <th>등록자</th>
        <td>{{author}}</td>
      </tr>
      <tr>
        <th>등록일</th>
        <td>{{firstCreatedDate}}</td>
      </tr>
      <tr>
        <th>강의 URL 주소</th>
        <td><a href="{{lectureUrl}}" target="_blank">{{lectureUrl}}</a></td>
      </tr>
      <tr>
        <th>강의 소개</th><td>{{description}}</td>
      </tr>
    </table>
    <a href="/lecture/list">
      <button class="btn btn-success pull-right" style="margin-top: 1em; float: left;">목록으로</button>
    </a>
    {{#authority}}
    <a href="/lecture/update/{{lecture.id}}">
      <button class="btn btn-success pull-right" style="float: left; margin-top: 1em; margin-left: 1em">수정하기</button>
    </a>
    <button class="btn btn-danger pull-right"
            style="margin-top: 1em; margin-left: 1em"
            onclick="deleteLecture();">삭제하기</button>
    {{/authority}}
    {{/lecture}}
  </div>
</div>

<script>
  function deleteLecture() {
     var lectureId = document.getElementById('lectureId').value;
     var isDeleteLecture = confirm("정말 삭제하시겠습니까?");
     if(isDeleteLecture) {
       window.location.href="/lecture/delete/"+lectureId;
     }
  }
</script>

{{> /layout/footer}}
