{{> /layout/navigation }}

<style>
  .container table tr th {
    text-align: center; vertical-align: middle; word-break: keep-all;
  }
  .container table tr td {
    text-align: center; vertical-align: middle; word-break: keep-all;
  }
</style>

<div class="container" style="min-height: 600px; text-align: center; margin-top: 5%;">
  <h2 style="margin-bottom: 1em">강의 목록</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>강의 번호</th>
      <th>강의명</th>
      <th style="min-width: 5em;">강의자</th>
      <th style="min-width: 5em;">등록자</th>
      <th>등록일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    {{#lectures}}
    <tr>
      <td>{{id}}</td>
      <td style="text-align: left;"><a href="/lecture/{{id}}">{{title}}</a></td>
      <td>{{creator}}</td>
      <td>{{authorName}}</td>
      <td>{{firstCreatedDate}}</td>
      <td>{{views}}</td>
    </tr>
    {{/lectures}}
    </tbody>
  </table>
  <a href="/lecture/register">
    <button class="btn btn-success pull-right" style="margin-top: 1em; float:left;">등록하기</button>
  </a>
  {{> /layout/pagination}}

  <p style="float: right;">총 게시글 :
    {{#totalCount}}
    <span>{{totalCount}}</span>
    <input id="totalCount" value="{{totalCount}}" hidden>
    {{/totalCount}}
  </p>
</div>

{{> /layout/footer}}
