{{> /layout/navigation }}

<div class="container" style="padding-top: 4%;">
    <div id="loginForm" style="padding-left: 25%; padding-right: 25%; padding-bottom: 5%;">
        <h2 style="margin-bottom: 1em">회원가입</h2>
        <form name="question" method="post" action="/user/signupProc">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요">
            <label for="userName" style="margin-top: 1.2em;">닉네임</label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="닉네임을 입력해주세요">
            <label for="password" style="margin-top: 1.2em;">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="8자 이상 20자 이하로 작성해주세요.">
            <label for="passwordConfirm" style="margin-top: 1.2em; ">비밀번호 확인</label><br>
            <div style="float: left; width: 70%">
                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                       placeholder="비밀번호를 다시 입력해주세요">
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-outline-danger" onclick="validationPw()">비밀번호 확인</button>
            </div>
            <button type="submit" id="signUpBtn" class="btn btn-success pull-right" style="margin-top: 3em; float:
            left" onclick="welcome()" disabled>회원가입</button>
            <a href="/user/login"><button type="button" class="btn btn-secondary pull-right"
                     style="margin-left: 1em; margin-top: 3em;">로그인</button></a>
        </form>
    </div>
</div>

<script type="text/javascript">

    var validationComponents = [false, false, false];

    $(document).ready(function() {
        $('#email').on('blur', function () {
            var email = document.getElementById('email').value;
            var emailRegExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/;

            if(email.match(emailRegExp)!=null) {
                $.ajax({
                    type: 'POST',
                    url: '/user/emailChk',
                    data: email,
                    dataType: 'json',
                    contentType: 'application/json; charset=UTF-8',
                    success: function(data){
                        if(data){
                            alert('가입가능한 이메일입니다.');
                            $('#email').css("background-color","#E3ECFE");
                            validationComponents[0] = true;
                        } else {
                            alert('이미 가입된 이메일입니다. 다른 이메일로 시도해주세요.');
                            $('#email').val('');
                        }
                    },
                    error: function(error){
                        alert("이메일 중복함수 에러 : ");
                        console.log(error);
                    }
                });
            } else {
                alert('이메일 형식이 올바르지 않습니다.');
                $('#email').val('');
            }
        });
    });

    $(document).ready(function () {
        $('#userName').on('blur', function () {
            var userName = document.getElementById('userName').value;
            if(userName.length>0) {
                $(this).css("background-color","#E3ECFE");
                validationComponents[1] = true;
            }
        });
    });

    $(document).ready(function() {
        $('#password').on('blur', function () {
            var password = $(this).val();
            if(password.length>0 && password.length<8) {
                alert("비밀번호가 너무 짧습니다.");
                $('#password').val('');
            }
            if(password.length>0 && password.length>=8 && password.length<=20) {
                $(this).css("background-color","#E3ECFE");
            }
        });
    });

    function validationPw() {
        var password = $('#password').val();
        var passwordConfirm = $('#passwordConfirm').val();

        if(password!==passwordConfirm) {
            alert("비밀번호가 일치하지 않습니다.");
            document.getElementById('password').innerText='';
            document.getElementById('passwordConfirm').innerText='';
        }

        if(password===passwordConfirm) {
            validationComponents[2] = true;
            $('#passwordConfirm').css("background-color","#E3ECFE");
            alert("사용가능한 비밀번호입니다.");
        }

        if(validationComponents[0]===true && validationComponents[1]===true && validationComponents[2]===true) {
            $('#signUpBtn').attr("disabled", false);
        }
    }

    function welcome() {
        alert("회원가입을 환영합니다!");
    }

</script>

{{> /layout/footer}}
