{{> /layout/navigation }}

        <!-- Page Content-->
        <div class="container">
            <!-- Jumbotron Header-->
            <header class="jumbotron my-4" style="background-image: url(assets/lectureImages/main.jpg);
            background-size: 100%;">
                <h1 class="display-3" style="color: white;">강의를 한 곳에!</h1>
                <p class="lead" style="color: white;">한 곳에서 개발 강의를 찾아보세요!</p>
                <a class="btn btn-primary btn-lg" href="/lecture/register">강의 등록하기</a>
                <a class="btn btn-primary btn-lg" style="margin-left: 1em"
                   href="/lecture/list">강의 보러가기</a>
            </header>

            <div class="row text-center">
                {{#latestLectures}}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <p class="card-text">{{description}}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary"
                                href="{{lectureUrl}}"
                                target="_blank">강의 보러가기</a>
                        </div>
                    </div>
                </div>
                {{/latestLectures}}
                {{^latestLectures}}
                <p style="margin-left: 50%; margin-top: 2em; margin-bottom: 2em">
                    아직 등록된 강의가 없습니다.
                </p>
                {{/latestLectures}}
            </div>
        </div>
{{> /layout/footer}}
